div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;


    @media (max-width: 900px) {
        transition-property: all;
        transition-duration: 500ms;
        transition-timing-function: ease-in-out;
        display: flex;
        flex-direction: column;
        background-color: aquamarine;
    }
}


button{
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    width: 40vw;
    height: 15vh;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 40px;
}

button:hover{
    width: 39vw;
    height: 14vh;
    background-color: blueviolet;
    color: rgb(0, 255, 208);
    border: none;
    border-radius: 30px;
    transition: all 500ms ease-in-out 100ms;
}

